$input-section-border-color: rgba(cadetblue, 0.25);
$input-section-button-color: rgba(cadetblue, 0.5);
$input-section-height: 5em;
$input-section-bg: $white;
._user-input-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    &--container {
        position: relative;
    }
}

.input-section {
    &--container {
        background: $input-section-bg;
        padding: 2em;
        display: block;
        text-align: center;
        border-top: 1px solid $input-section-border-color;
        z-index: 2;
        position: relative;
    }
    &--input-box {
        font-size: 1.5em;
        height: 1.5em;
        
    }
    &--translate-button {
        margin-left: 1em;
        font-size: 1.5em;
        color: $input-section-button-color;
        cursor: pointer;
        &:active {
            color: darken($input-section-button-color, 25%);
        }
    }
}
