$input-section-border-color: rgba(cadetblue, 0.25);
$input-section-height: 5em;
$input-section-button-color: rgba(cadetblue, 0.5);
$input-section-bg: $white;

.input-section{
	&--container{
		position: fixed;
		background: $input-section-bg;
		bottom: 0;
		padding: 2em;
		display: block;
		text-align: center;
		width: 100%;
		border-top: 1px solid $input-section-border-color;
	}
	&--input-box{
		font-size: 1.5em;
		height: 1.5em;
		min-width: 500px;
	}
	&--translate-button{
		margin-left: 1em;
		font-size: 1.5em;
		color: $input-section-button-color;
		cursor: pointer;
		&:active{
			color: darken($input-section-button-color, 25%);
		}
	}
}