.main-wrapper {
    transition: filter 0.3s ease-in-out;
    &.menu-open {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}

$menu-section-border-color: rgba(cadetblue, 0.25);
.language-menu {
    opacity: 0;
    transform: translateX(-100%);
    background: rgba(white, 0.6);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    &.menu-open {
        opacity: 1;
        transform: translateX(0);
    }
    transition: transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
    color: #333;
    z-index: 3;
    margin: 0;
    padding: 0;
    padding-top: 2em;
    position: fixed;
    box-sizing: border-box;
    top:0;
    height: 100%;
    width: 100%;
    text-align: center;
    &--list-item {
        width: 100%;
        &:not(:last-child) {
            border-bottom: 1px solid $menu-section-border-color;
        }
        cursor: pointer;
        height: calc(100%/6);
        padding: 2em;
        box-sizing: border-box;
        display: inline-block;
        &-content {
            display: inline-block;
            font-size: 3em;
            height: 100%;
        }
    }
}
