$message-bg-color: $white;
$message-translate-color: cadetblue;
$message-translate-hover-color: darken($message-translate-color, 25%);
._messages {
    max-width: 1064px;
    margin: auto;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 5em;
    vertical-align: bottom;
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

.message {
    &--container {
        float: left;
        clear: both;
        min-width: 20em;
        padding: 2em;
        background: $message-bg-color;
        box-shadow: 10px 10px 30px rgba(black, 0.25);
        position: relative;
        animation: fadeinup 2s;
        margin: 2em 0;
        @include breakpoint($med) {
            margin: 2em;
        }
        &-RIGHT {
            @extend .message--container;
            float: right;
        }
    }
    &--text {}
    &--translate-button {
        border: 1px solid $message-translate-color;
        color: $message-translate-color;
        cursor: pointer;
        font-weight: 100;
        border-radius: 50%;
        display: block;
        height: 3em;
        width: 3em;
        position: absolute;
        top: 0em;
        right: 1em;
        line-height: 3em;
        text-align: center;
        margin-top: 25px;
        font-size: 21px;
        text-align: center;
        &:hover {}
    }
}

@keyframes fadeinup {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

body {
    background: white;
}
