$message-bg-color: $white;

.message{
	&--container{
		float:left;
		clear: both;
		margin: 2em;
		padding: 2em;
		background: $message-bg-color;
		box-shadow: 10px 10px 30px rgba(black, 0.25);
		&-RIGHT{
			@extend .message--container;
			float:right;
		}
	}
	&--text{

	}
	&--translate-button{

	}
}
body{background: white;}