$message-bg-color: $white;
$message-translate-color: cadetblue;

._messages{
	max-width: 1064px;
	margin: auto;
	height: 100%;
	width: 100%;
	// position: fixed;
	overflow-y: scroll;
	padding-bottom: 5em;
	vertical-align: bottom;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}
.message{
	&--container{
		float: left;
		clear: both;
		min-width: 20em;
		margin: 2em;
		padding: 2em;
		background: $message-bg-color;
		box-shadow: 10px 10px 30px rgba(black, 0.25);
		position: relative;
		&-RIGHT{
			@extend .message--container;
			float: right;
		}
	}
	&--text{

	}
	&--translate-button{
		border: 1px solid $message-translate-color;
		border-radius: 50%;
		display: block;
		height: 3em;
		width: 3em;
		position: absolute;
		top: 2em;
		right: 2em;
	}
}
body{background: white;}