$translation-section-border-color: rgba(cadetblue, 0.25);
$translation-section-button-color: rgba(cadetblue, 0.5);
$translation-section-bg: $white;
.translation-section {
    &--container {
        border-top: 1px solid $translation-section-border-color;
        text-align: center;
        display: block;
        background: $translation-section-bg;
        position: absolute;
        z-index: 1;
        width: 100%;
        transition: transform 0.3s ease-in-out;
        transform: translateY(0%);
        &.open {
            box-shadow: -10px -10px 30px rgba(black, 0.25);
            transform: translateY(-100%);
        }
    }
    &--message-content {
        height: 10em;
        padding: 3em;
    }
    &--button-row {
        border-top: 1px solid $translation-section-border-color;
        text-align: center;
        display: block;
        bottom: 0;
        width: 100%;
        font-size: 1.5em;
        line-height: 3em;
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
    &--button-row-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
        vertical-align: middle;
    }
    &--button-row-list-item {
        display: inline-block;
        list-style-type: none;
        margin: 0 2em;
        padding: 0;
    }
}
