<section id="message-conversation" class="_messages">
   <!-- <div class="message--container">-->
   <!--     <div class="message--text-container">-->
   <!--         <p class="message--text primary-text">-->
   <!--             Hola!-->
   <!--         </p>-->
   <!--         <p class="message--text secondary-text">-->
   <!--             Hello!-->
   <!--         </p>-->
   <!--     </div>-->
   <!--     <div class="message--tb-container">-->
   <!--         <span class="message--translate-button">-->
			<!--			?-->
			<!--</span>-->
   <!--     </div>-->
   <!-- </div>-->
   <!-- <div class="message--container-RIGHT">-->
   <!--     <div class="message--text-container">-->
   <!--         <p class="message--text primary-text">-->
   <!--             Hola!-->
   <!--         </p>-->
   <!--         <p class="message--text secondary-text">-->
   <!--             Hello!-->
   <!--         </p>-->
   <!--     </div>-->
   <!--     <div class="message--tb-container">-->
   <!--         <span class="message--translate-button">-->
			<!--			?-->
			<!--</span>-->
   <!--     </div>-->
   <!-- </div>-->
</section>
<script type="text/javascript" src="js/messagehandler.js"></script>
